@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&family=Emilys+Candy&family=Inter:wght@400;700&display=swap');

@keyframes pulsar {
    0% {scale: 1;}
    100% {scale: 1.2;}
}

*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    font-family: 'Emilys Candy', cursive;
    font-family: 'Inter', sans-serif;
}
h1 {
    color: #7C657D;
    font-size: max(18px,2vw);
    font-family:'Arimo';
    margin-bottom: 2vw;
    overflow: hidden;
}
h2{
    color: #7C657D;
    font-size: max(14px, 1.5vw);
    margin-bottom: 2rem;
}
body{
    background-color: #E9DFF1;
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 1.5rem;
    font-size: max(12px,1.2vw);
    color: #7C657D;
}
q{
    font-style: italic;
    font-size: max(14px,1.2vw);
    color: #7C657D;
}
hr{
    background-color: #7C657D;
    height: 0.8px;
    border: none;
    width: 100vw;
    margin: 3rem 0;
}
/* itens do menu */
header{
    position:fixed;
    background-color: #fff;
    box-shadow: 0px 1px 10px #b8b7b7;
    width:100vw;
    z-index: 1;
}
section{
    margin-top: max(4rem, 3vw);
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw;
    
}
.navList{
    display: flex;
    justify-content: center;
    padding-right:3rem;
}
.logo{
    padding-left: 3rem;
}
.navList ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navItem{
    margin: 0 1rem;
    justify-content: center;
}
.navLink{
    text-decoration: none;
    font-size: max(14px,1.2vw);
    color: #7C657D;

}
.botaoMenu{
    border: none;
    background-color: #fff;
}
.mobileMenuIcon{
    display: none;
    padding: 0;
}
.mobileMenu{
    display: none;
}
/* primeiro bloco de conteúdo */
.inicio{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 0, 2.5rem;
    padding-top: max(2rem,2vw);
}
.blocoResponsivo{
    display: flex;
}
.capa{
    width: max(300px,40vw);
    height: auto;
}

.botaoPrincipal{
    background-color: #7C657D;
    font-size: max(14px,1.2vw);
    padding: max(1.5vw, 1rem) max(4vw, 2rem);
    margin: 1.5vw 0;
    border: none;
    color: #fff;
    cursor: pointer;
}

.botaoPrincipal:hover{
    background-color: #5f535f;
    transition: all ease-in-out 0.2s;
}
.tituloResponsivo{
    display: none;
}
.textBlock{
    width: 45vw;
}
/* segundo bloco de conteúdo */
.inicioBloco2{
    background: url(assets/imagens/fotos/papersection.png) no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    height:max(600px,38vw);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 0;
    margin: 0;
}
.miniAnimation{
    width: max(300px,20vw);
    height:auto;
    margin-left: 1rem;
}
/* bloco de depoimentos */
.depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}
.blocosDepoimentos{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-content: space-evenly;
}
.depoimento{
    background-color: #fff;
    width: max(200px,18vw);
    margin: 1rem;
    padding: 3rem;
    border-radius: 15px;
    color: #7C657D;
}
.leftQuoteIcon{
    width: max(25px,2vw);
    margin-bottom: 2vw;
}
.rightQuoteIcon{
    width: max(25px,2vw);
    position: relative;
    left: 96%;
}

/* bloco de conteúdo autora */
.autora{
    background: url(assets/imagens/fotos/papersection.png) no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    height:max(600px,38vw);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.fotoAutora{
    margin-top: 1rem;
    margin-right: 2rem;
    width: max(180px,25vw);
}
.detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.contentDetalhes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentDetalhes--blocos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgDetalhes{
    border-radius: 50%;
    width: max(100px,18vw);
    margin: 1vw;
}
.fraseEfeito{
    width: max(290px,80vw);
}
.detalhamentos{
    color: #7C657D;
    text-align: center;
    margin: 0;
    padding: 0;
}
.valores{
    border-radius: 5px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.preco{
    color: #7C657D;
    font-size: max(28px,3vw);
    align-self: center;
    margin: 0;
    padding: 0;
}

.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10vw 0;
}
.faqContent{
    width: max(75vw,280px);
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 1vh;
}
.pergunta{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #fff;
    padding: 1vw 2vw;
    border: none;
    cursor: pointer;
}
.pergunta h2{
    margin: 0;
    padding: 0;
    text-align: left;
    align-self: center;
}
.pergunta:hover{
    background-color: #f5eff5;
    transition: all ease-in-out 0.2s;
}
.iconFaq{
    width: max(20px,3vw);
    cursor: pointer;
    margin-left: 2vw;
}
.resposta{
    padding: 0;
    background-color: #ffffffb6;
    margin: 0;
    height: 0;
    box-sizing: border-box;
    transition: all 0.2s linear;
    opacity: 0;
    overflow: hidden;
}

.ativa{
    display: block;
    padding: 3vw;
    height: auto;
    opacity: 1;
}

.rodape{
    background-color: #fff;
    height:max(80px,8vw);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 4.5rem;
    align-items: center;
}

.rodape__content{
    display: flex;
    text-align: center;
    align-self: center;
    margin: 0;
    overflow: hidden;
}
.iconeRodape{
    width: max(30px,3vw);
    margin: 0.2vw;
    fill: #7C657D;
}
.iconeRodape:hover path{
    fill:#5f535f;
}
.iconeCoracao{
    fill: #7C657D;
    width: max(16px, 2vw);
    margin: 0 0.5rem;
    animation: pulsar 0.5s infinite alternate;
}

/* variações de tamanho para telas pequenas */

@media(max-width: 1000px){
    .blocosDepoimentos{
        display: flex;
        flex-direction: column;
    }
    .depoimento{
        width: 70vw;
        padding: 1.5rem;
    }
    .depoimentos h1{
        text-align: center;
    }
}

@media(max-width: 860px) {
    .navItem{
        display: none;
    }
    .mobileMenuIcon{
        display: block;
        padding-right: 1rem;
        border: 0;

    }
    .mobileMenuIcon button{
        cursor: pointer;
    }
    .mobileMenu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobileMenu .navItem{
        display: block;
        padding-top:1.2rem ;
    }
    /*classe nova que será utilizada para mostrar ou não o mobileMenu*/
    .open{
        display: block;
    }
    .capa{
        width: min(400px, 50vw);
        height: min(400px, 50vw);;
    }
    .textBlock{
        padding: 0 2rem;
        width: 70vw;
    }
    h1{
        font-size: 20px;
    }
}

@media (max-width:600px){
    .logo{
        padding-left: 1rem;
    }
    .navList{
        display: flex;
        justify-content: center;
        padding-right:1rem;
    }
    .inicio{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .capa{
        margin-bottom: 2rem;
        width: 50vh;
        height: 50vh;
    }
    .textBlock{
        width: 60vw;
        padding: 0;
        margin: 0;
    }
    .textBlock h1, p{
        padding: 0;
    }
    .inicioBloco2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .miniAnimation{
        width: 25vw;
        height: 25vw;
        margin-bottom: 1rem;
    }
    .autora .textBlock{
        padding-right: 2rem;
        text-align: center;
    }
    .fotoAutora{
        width: 60vw;
    }
    h1{
        font-size: 20px;
    }
    .rodape{
        padding: 0.5rem 2.8rem;
    }
    h2{
        font-size: 16px;
    }

}
@media(max-width:500px){
    .autora{
        flex-direction: column;
    }
    .fotoAutora{
        width: 40vw;
        height: auto;
        margin: 1rem;
    }
    .autora .textBlock{
        padding: 0;
        width: 70vw;
    }
    .contentDetalhes--blocos{
        flex-direction: column;
    }
    .rodape{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .iconeRodape{
        margin: 0 0.2rem;
    }
}

@media(max-width:400px){
    .blocoResponsivo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .textBlock{
        width: 80vw;
    }
    h2{
        font-size: 14px;
    }
    h1{
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }
    .rodape{
        padding: 2vw 2vw;
    }
    .faq h1{
        font-size: 16px;
    }
    .faq h2{
        font-size: 14px;
    }
}

