@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&family=Emilys+Candy&family=Inter:wght@400;700&display=swap');
*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    font-family: 'Emilys Candy', cursive;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #E9DFF1;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 1px 20px #9e9e9e;
    width:100vw;
}
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    
}
.navList{
    display: flex;
    justify-content: center;
}
.navList ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navItem{
    margin: 0 1rem;
    justify-content: center;
}
.navLink{
    text-decoration: none;
    font-size: 1rem;
    color: #7C657D;

}
.mobileMenuIcon{
    display: none;
}
.mobileMenu{
    display: none;
}
.inicio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
    padding-top: 8rem;
    padding-bottom: 0;
}
.capa{
    margin-right: 4rem;
}
h1 {
    color: #7C657D;
    font-family:'Arimo';
    line-height: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.botaoPrincipal{
    background-color: #7C657D;
    padding: 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
}
p{
    margin-bottom: 1.5rem;
}
.inicioBloco2{
    background: url(assets/imagens/fotos/papersection.png) no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.miniAnimation{
    width: 300px;
    height:300px;
    margin-left: 1rem;
}

.depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.blocosDepoimentos{
    display: flex;
    flex-direction: row;
}
.depsWY{
    display: flex;
    flex-direction: column;
}
.blocoDepoimento{
    margin: 0.5rem;
}
.blocoDepoimentoY{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: #fff;
    
}
.blocoDepoimento7N{
    margin-top: 0.5rem;
    background-color: #fff;
}

.autora{
    background: url(assets/imagens/fotos/papersection.png) no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.fotoAutora{
    margin-top: 1rem;
    margin-right: 2rem;
}

@media(max-width: 400px){
    .inicioBloco2{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .miniAnimation{
        width: 100px;
        height: 100px;
        margin: 0;
        margin-bottom: 1rem;
    }

}

@media(max-width: 900px) {
    .navItem{
        display: none;
    }
    .mobileMenuIcon{
        display: block;
        border: 0;

    }
    .mobileMenuIcon button{

        cursor: pointer;
    }
    .mobileMenu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobileMenu .navItem{
        display: block;
        padding-top:1.2rem ;
    }
    /*classe nova que será utilizada para mostrar ou não o mobileMenu*/
    .open{
        display: block;
    }
    .inicio{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        padding-top: 1rem;
    }
    .capa{
        margin: 0;
        padding: 2.5rem;
    }
    .textBlock{
        text-align: center;
    }
    .capa{
        margin:0;
    }
    .blocosDepoimentos{
        display: flex;
        flex-direction: column;
    }
}
