@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&family=Emilys+Candy&family=Inter:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    font-family: 'Emilys Candy', cursive;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #E9DFF1;
}
header{
    background-color: #fff;
    box-shadow: 0px 1px 20px #9e9e9e;
    width: 100vw;
}
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    
}
.navList{
    display: flex;
    justify-content: center;
}
.navList ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navItem{
    margin: 0 1rem;
    justify-content: center;
}
.navLink{
    text-decoration: none;
    font-size: 1rem;
    color: #7C657D;

}
.mobileMenuIcon{
    display: none;
}
.mobileMenu{
    display: none;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
    padding-bottom: 0;
}
.capa{
    margin-right: 4rem;
}
h1 {
    color: #7C657D;
    font-family:'Arimo';
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.botaoPrincipal{
    background-color: #7C657D;
    padding: 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
}
p{
    margin-bottom: 1.5rem;
}
.autora{
    background: url(assets/imagens/fotos/papersection.png) no-repeat;
    width: 100vw;
    height: 800px;
    padding: 0;
    margin: 0;
}


@media(max-width: 700px) {
    .navItem{
        display: none;
    }
    .mobileMenuIcon{
        display: block;
        border: 0;

    }
    .mobileMenuIcon button{

        cursor: pointer;
    }
    .mobileMenu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobileMenu .navItem{
        display: block;
        padding-top:1.2rem ;
    }
    /*classe nova que será utilizada para mostrar ou não o mobileMenu*/
    .open{
        display: block;
    }
    .inicio{
        display: flex;
        flex-direction: column;
    }
    .capa{
        margin: 0;
        padding: 2.5rem;
    }
    .textBlock{
        text-align: center;
    }
}
@media(max-width: 900px){
    .inicio{
        display: flex;
        justify-content:space-around;
    }
    .capa{
        margin:0;
    }
}